@import "vars";

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}
// html {
//   max-width: 100%;
// }

body {
  font-family: "Futura Futuris Regular";
  font-size: 14px;
  line-height: 1.3;
  color: $text;
  position: relative;
  background: url("../img/common/body__bg.png") no-repeat top;
  // max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  min-width: 320px;
  box-sizing: border-box;
}

// header,
// footer,
// section,
// main {
//   overflow-x: hidden;
//   width: 100%;
//   max-width: 100%;
// }

img {
  max-width: 100%;
}

.no-xl {
  display: none;
}

.xl {
  display: inline-block;
}

.slick-slide {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  background: $blue;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  transition: all 0.2s linear;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: #3850bb;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--empty {
    color: $text;
    background: transparent;
    border: 1px solid $text;

    &:hover,
    &.active {
      color: #fff;
      background: $blue;
      border-color: $blue;
    }
  }
}

// Header
.header {
  background: $gray;
  padding: 25px 0;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__name {
  margin-left: 18px;
  font-size: 20px;
  line-height: 25px;

  span {
    display: block;
  }
}

.nav-toggle {
  display: none;
}

.header__right__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 50px;
  color: $text;
  text-decoration: none;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: $text;
  }
}

.header__right__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 62px;
}

.header__btn {
  margin-left: 32px;
  font-size: 20px;
  padding: 10px 40px;
  box-shadow: 4px 2px 11px 0px rgba(50, 50, 50, 0.25);
}

.header_phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;

  img {
    margin-right: 9px;
  }
}

// Intro
.intro {
  padding-top: 25px;
}

.intro__inner {
  background-color: rgba(237, 237, 237, 0.7);
  padding: 35px 50px;
  border-radius: 10px;
}

.intro__head__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.intro__head__top {
  margin-bottom: 28px;

  h1 {
    font-size: 30px;
  }
}

.intro__head__bot {
  margin-bottom: 30px;
  a {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.intro__body__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro__body__slide__wrapper {
  border-radius: 5px;
}

.intro__item {
  display: block;
  position: relative;
  width: 47%;
  border-radius: 5px;
  margin-bottom: 20px;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.intro__item__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 5px 0 5px;
}

.intro__arrow {
  display: block;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  transition: all 0.2s linear;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: #3850bb;
  }

  img {
    z-index: 2;
    width: 33px;
    height: 21px;
    min-width: 33px;
    min-height: 21px;
  }
}

.intro__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__body_wrapper {
  margin: 0 15px;
  width: 95%;
}

// About
.about {
  margin-top: 30px;
  border-radius: 10px;
}

.about__inner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  // background: url("../img/about/about__bg.png") no-repeat center;
  background-size: cover;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.about__slide__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: $gray;
  border-radius: 10px;
}

.about__slider {
  width: 100%;
  position: relative;
  // padding-top: 55px;
  // background: $gray;
  // padding-left: 10px;
  border-radius: 0px 10px 10px 0;
}

.about__slide__img {
  width: 50%;
  display: inline-block !important;

  img {
    display: inline-block !important;
  }
}

.about__slide {
  width: 50%;
}

.about__title {
  font-size: 30px;
  margin-bottom: 35px;
}

.about__text {
  padding-right: 60px;
  p {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  margin-bottom: 80px;
}

.about__navigation {
  position: absolute;
  bottom: 35px;
  right: 10%;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__arrow {
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.about__dots {
  width: 300px;
  max-width: 300px;
}

.about__dots__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
  width: 300px;
  max-width: 300px;

  .slick-list.draggable {
    overflow: visible;
    width: 300px;
    max-width: 300px;
  }
}

.about__dots__item {
  display: block;
  width: 12px;
  height: 12px;
  max-width: 12px;
  max-height: 12px;
  background: #dadada;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  position: relative;

  span {
    display: none;
  }

  &.slick-current {
    background: $blue;
    overflow: visible;
    position: relative;

    span {
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      background: rgba(77, 107, 239, 0.25);
      border-radius: 50%;
      top: -8.5px;
      left: -8.5px;
    }
  }
}

// Catalog
.catalog {
  padding-top: 80px;
}

.catalog__title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.catalog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &.hidden {
    display: none;
  }
}

.catalog__item {
  border-radius: 5px;
  border: 1px solid $text;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
  width: 23%;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover,
  &.active {
    background: $blue;
    color: #fff;
    border-color: $blue;
    border-left: none;

    .catalog__item__img {
      border: 1px solid $text;
    }
  }
}

.catalog__item__img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $text;
  height: 100%;
  background: #fff;
  border-radius: 5px 0 0 5px;
}

.catalog__item__text {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.catalog__footer__wrapper {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__footer__showmore {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid $text;
  color: $text;
  transition: border-color 0.2s linear;

  &.hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    border-color: transparent;
  }
}

.catalog__pannel_top {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.25);
  padding: 30px;
  position: relative;
}

.catalog__pannel_bot {
  margin-top: 50px;
}

.catalog__pannel_bot__item {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &.active {
    display: flex;
  }

  a {
    width: 23%;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 18px;
  }
}

.catalog__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -50px;
  left: 7%;
  transition: all 0.2s linear;

  &.catalogItem1 {
    left: 7%;
  }

  &.catalogItem2 {
    left: 32%;
  }

  &.catalogItem3 {
    left: auto;
    right: 32%;
  }

  &.catalogItem4 {
    left: auto;
    right: 7%;
  }

  &.catalogItem5 {
    left: 7%;
  }

  &.catalogItem6 {
    left: 32%;
  }

  &.catalogItem7 {
    left: auto;
    right: 32%;
  }

  &.catalogItem8 {
    left: auto;
    right: 7%;
  }
}

// Info
.info {
  padding-top: 60px;
  padding-bottom: 90px;
}

.info__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.info__wrapper {
  background-color: rgba(237, 237, 237, 0.7);
  padding: 50px 50px 35px 50px;
  border-radius: 10px;
}

.info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__arrow {
  display: inline-block;
  height: 17px;
  width: 26px;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.info__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.info__item__logo {
  width: 21px;
  height: 21px;
}

.info__item__text {
  font-size: 18px;
  color: $text;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;
  margin-left: 10px;

  &:hover {
    border-color: $text;
  }
}

.info__item__icons {
  margin-left: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    margin-right: 10px;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.7;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.info__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}

.info__body__col {
  width: 33.333%;
}

.info__footer {
  margin-top: 50px;
}

.info__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__pagination__link {
  display: inline-block;
  font-size: 18px;
  color: $text;
  margin: 0 7px;
  text-decoration: none;
  transition: all 0.2s linear;

  &:hover,
  &.active {
    color: $blue;
  }

  &.special {
    margin: 0 4px;
  }
}

.info__bot {
  margin-top: 30px;
}

.info__search__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-height: 40px;
  input {
    border: none;
    border-radius: 5px 0 0 5px;
    width: 450px;
    // height: 40px;
    padding: 10.5px 0 10.5px 45px;
    height: 100%;
    font-size: 16px;
    color: $text;

    &:focus,
    &:active {
      outline: none;
    }
  }

  img {
    position: absolute;
    left: 10px;
    top: 8px;
  }
}

.info__btn {
  border-radius: 0 5px 5px 0;
}

// Contact & Map
.map {
  position: relative;
  height: 530px;
  max-height: 530px;
  iframe {
    width: 100%;
    height: 530px;
  }
}

.contact__inner {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 530px;

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.contact__wrapper {
  // padding: 70px 0 80px 80px;

  height: 530px;
  max-height: 100%;
  width: 420px;
  background: $blue;
  color: #fff;
  z-index: 10;
  padding-left: 80px;
}

.contact__title {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 80px;
}

.contact__slide__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact__slide__col {
  .contact__slide__line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    img {
      margin-right: 5px;
    }
  }

  &.second {
    margin-left: 15px;
    span {
      display: block;
      margin-bottom: 15px;
    }
  }
}

.contact__slider__nav {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.contact__arrow {
  width: 26px;
  height: 17px;
  cursor: pointer;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.5;
  }
}

.contact__dots {
}

.contact__dots__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;

  .slick-list.draggable {
    overflow: visible;
  }
}

.contact__dots__item {
  display: block;
  width: 9px;
  height: 9px;
  max-width: 9px;
  max-height: 9px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  position: relative;

  span {
    display: none;
  }

  &.slick-current {
    background: #fff;
    overflow: visible;
    position: relative;

    span {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      top: -6px;
      left: -6px;
    }
  }
}

.contact__btn {
  color: #fff;
  border-color: #fff;

  &:hover {
    background: #fff;
    color: $text;
  }
}

// Footer
.footer {
  background: $gray;
  padding: 50px 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__left__main {
  margin-right: 95px;
}

.footer__left__main__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;

  a {
    display: inline-block;
    margin-right: 17px;
  }

  span {
    font-size: 20px;
  }
}

.footer__left__main__bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a7a8ad;
}

.footer__left__bot {
  margin-top: 15px;
  color: #a7a8ad;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.social__link {
  display: inline-block;
  margin-left: 20px;
  transition: opacity 0.2s linear;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.footer__phone {
  font-size: 24px;
}

.footer__mail {
  display: inline-block;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;
  cursor: pointer;
  img {
    margin-right: 10px;
  }

  &:hover {
    border-color: $text;
  }
}

@media (max-width: $tablet) {
  body {
    background: none;
  }

  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }

  .header__inner {
    padding: 0 15px;
    max-width: 100%;
  }

  .header__left__inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .header__name {
    margin-left: 0;
  }

  .nav {
    display: none;
    &.active {
      display: block;
      position: absolute;
      width: 100%;
      background: $gray;
      bottom: -110px;
      left: 0;
      z-index: 11;
    }
  }

  .nav__inner {
    padding-top: 15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  .header__right__info {
    flex-direction: column;
    margin-left: 0;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .header__burger {
    display: block;
  }

  .nav-toggle {
    margin-top: 20px;
    display: block;
    width: 30px;
    height: 18px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    font-size: 0;
    color: transparent;
    border: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.active {
      .nav-toggle__item {
        background-color: transparent;
      }
    }
  }

  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $text;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background 0.2s linear;
  }

  .nav-toggle__item::before,
  .nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $text;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform 0.2s linear;
  }

  .nav-toggle__item::before {
    top: -8px;
  }

  .nav-toggle__item::after {
    bottom: -8px;
  }

  .nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
  }

  .nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-4px);
  }

  .header_phone {
    display: none;
  }

  // .about__slide__img {
  //   width: 100%;
  //   min-width: 100vw;

  //   img {
  //     min-width: 100vw;
  //     max-height: 320px;
  //   }
  // }

  // .about__slide {
  //   width: 100%;
  // }

  .about__slide__item {
    flex-direction: column;
  }

  .about__navigation {
    right: 30%;
  }

  .info__body {
    justify-content: center;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }

  .header {
    padding: 15px 0;
  }

  .header__name {
    font-size: 14px;
  }

  .header__btn {
    font-size: 14px;
    padding: 5px 25px;
  }

  .header__logo {
    height: 30px;
    width: 85px;
  }

  .intro__inner {
    padding: 15px 25px;
  }

  .intro__head__left {
    width: 100%;
    min-width: 100%;
  }

  .intro__head__top {
    margin-bottom: 20px;
    h1 {
      font-size: 24px;
      text-align: center;
    }
  }

  .intro__head__bot.xs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      margin: 0;
    }
  }

  .intro__arrow.no-xs {
    display: none !important;
  }

  .intro__body {
    flex-direction: column;
  }

  .intro__body_wrapper {
    width: 100%;
    margin: 0;
  }

  .intro__body__slide {
    flex-direction: column;
  }

  .intro__item {
    width: 100%;
  }

  .intro__item__btn {
    position: static;
    border-radius: 5px;
    margin-top: 10px;
  }

  .intro__nav__mobile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0 20px;
    }
  }

  .about__inner {
    padding: 0 10px;
  }

  .about__slide__img {
    width: 100%;
  }

  .about__slide {
    width: 100%;
  }

  .about__slider {
    width: 100%;
    border-radius: 10px;
    padding: 0;
    text-align: center;
  }

  .about__title {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .about__text {
    padding: 0;
    margin-bottom: 100px;
  }

  .about__navigation {
    width: 90%;
    position: absolute;
    width: 90%;
    bottom: 40px;
    right: 20px;
  }

  .about__dots {
    width: auto;
    max-width: 200px;
  }

  .about__slide__img {
    border-radius: 10px 10px 0 0;
  }

  .about__dots__item {
    margin: 0 10px;
  }

  .about__dots__wrapper {
    width: auto;
    width: auto;
    max-width: auto;
    .slick-track {
      width: auto;
      width: auto;
      max-width: auto;
      display: flex;
      justify-content: center;
    }
  }

  .about__arrow {
    img {
      width: 35px;
      height: 23px;
      min-width: 25px;
      min-height: 23px;
    }
  }

  .catalog {
    padding-top: 35px;
  }

  .catalog__title {
    font-size: 24px;
  }

  .catalog__header {
    flex-direction: column;
    margin-bottom: 0;
  }

  .catalog__item {
    width: 100%;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__footer__wrapper {
    width: 100%;
    flex-direction: column;
  }

  .catalog__footer__btn {
    order: 1;
    margin-bottom: 25px;
  }

  .catalog__footer__showmore {
    order: 2;
  }

  .catalog__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    transition: all 0.2s linear;

    &.catalogItem1 {
      left: 50%;
    }

    &.catalogItem2 {
      left: 50%;
    }

    &.catalogItem3 {
      left: 50%;
      right: auto;
    }

    &.catalogItem4 {
      left: 50%;
      right: auto;
    }

    &.catalogItem5 {
      left: 50%;
    }

    &.catalogItem6 {
      left: 50%;
    }

    &.catalogItem7 {
      left: 50%;
      right: auto;
    }

    &.catalogItem8 {
      left: 50%;
      right: auto;
    }
  }

  .catalog__pannel_bot__item {
    a {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .info {
    padding-top: 40px;
  }

  .info__wrapper {
    padding: 30px 20px;
  }

  .info__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .info__body {
    width: 100%;
  }

  .info__body__col {
    width: 100%;
  }

  .info__pagination {
    justify-content: space-between;
  }

  .info__search {
    input {
      width: 214px;
    }
  }

  .contact__inner {
    position: static;
  }

  .contact__inner {
    height: auto;
    background: $blue;
    .container {
      display: block;
    }
  }

  .map {
    height: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__wrapper {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-top: 40px;
  }

  .contact__title {
    margin-top: 0;
  }

  .contact__title {
    font-size: 24px;
    text-align: center;
  }

  .contact__wrapper {
    height: auto;
  }

  .contact__slide__inner {
    justify-content: center;
  }

  .contact__slider__nav {
    width: 100%;
    justify-content: center;
  }

  .contact__arrow {
    &--prev {
      margin-right: 50px;
    }

    &--next {
      margin-left: 50px;
    }
  }

  .contact__btn {
    margin-bottom: 45px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__left__main {
    margin-right: 0;
  }

  .footer__left__main__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__left__main__bot {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }

  .social {
    justify-content: space-between;
    margin-top: 55px;
  }

  .footer__mail {
    margin-bottom: 50px;
  }
}

// Modal
.modal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  display: none;

  &.active {
    display: flex !important;
  }
}

.modal {
  background: $blue;
  border-radius: 10px;
  box-shadow: 4px 2px 11px 0px rgba(50, 50, 50, 0.25);
  padding: 40px 80px;
  transition: all 0.2s linear;
  position: relative;

  &--warning {
    .modal__btn {
      text-align: center;
    }
  }
}

.modal__close {
  position: absolute;
  right: 25px;
  top: 25px;
  transition: opacity 0.2s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.modal__head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.modal__content {
  max-width: 400px;
}

.modal__link {
  color: #a7b6f7;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;
  margin: 0 15px;

  &:hover,
  &.active {
    border-color: #fff;
    color: #fff;
  }
}

.modal__input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Futura Futuris Regular";
  color: $text;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
}

.modal__btn {
  width: 100%;
  border-color: #fff;
  color: #fff;

  &:hover {
    border-color: $text;
    color: $text;
  }
}

.modal__footer {
  margin-top: 30px;
  text-align: center;
}

.modal__forgot {
  color: #fff;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.modal__content__body {
  display: none;

  &.active {
    display: block;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.modal__checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 20px;
}

.modal__warning__text {
  margin-top: 35px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  img {
    margin-bottom: 10px;
  }

  &--special {
    flex-direction: row;
    margin-bottom: 40px;
    text-align: left;

    img {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.modal__btn__password {
  margin-top: 20px;
}

.modal__warning__item {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.modal__content__title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

// Fonts
@font-face {
  font-family: "Futura Futuris Light";
  src: url("../fonts/FuturaFuturisLightC.eot");
  src: url("../fonts/FuturaFuturisLightC.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FuturaFuturisLightC.woff") format("woff"),
    url("../fonts/FuturaFuturisLightC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Futuris Regular";
  src: url("../fonts/FuturaFuturisC.eot");
  src: url("../fonts/FuturaFuturisC.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaFuturisC.woff") format("woff"),
    url("../fonts/FuturaFuturisC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
